<?xml version="1.0"?>
<launch>

  <node ns="camera_front" pkg="lane_detection" type="lane_detection_node" name="lane_detection_node" output="screen" />

  <node pkg="tf2_ros" type="static_transform_publisher" name="footprint_to_optical" args="1.435 0.0 1.6 0.0 0.5 0.0 base_footprint lane_camera_optical" />
  <node pkg="tf2_ros" type="static_transform_publisher" name="optical_to_camera" args="0 0 0 -1.57079632679 0 -1.57079632679 lane_camera_optical lane_camera" />

  <node ns="camera_front" pkg="image_proc" type="image_proc" name="image_proc" output="screen" >
  <!-- <remap from ="/usb_cam/image_raw" to ="camera_front/image_raw" /> -->
  </node> 

  <node ns="camera_front" pkg="lane_detection" type="pub_camera_info.py" name="pub_camera_info" >
    <param name="yaml_file" value="$(find lane_detection)/yaml/lane_camera.yaml" />
  </node>

  <node pkg="rviz" type="rviz" name="lane_projection_viz" args="-d $(find self_drive_launch)/rviz/all_system_Gazebo.rviz" />
    <!-- <node pkg="rviz" type="rviz" name="lane_projection_viz" args="-d $(find lane_detection)/rviz/lane_projection.rviz" /> -->

</launch>
